html {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: LightGray;
  margin: 30px 15px 30px 15px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#img-div {
  background-color: white;
  padding: 10px;
}

img {
  padding: 10px;
  max-width: 50%;
  display: block;
  height: auto;
  margin: auto
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". mid .";
  text-align: left;
}

#mid {
  grid-area: mid;
}

h2 {
  text-align: center;
}

li {
  padding: 3px;
}
